h1{
   text-align: center;
   color: #FFFFFF;
}

.container {
    position: relative;
    text-align: center;
    cursor:pointer;
}

.bottom {
    position: absolute;
    bottom: 10%;
    left: 45%;
}

.top {
    position: absolute;
    top: 8%;
    left: 39%;
}

.right {
    position: absolute;
    top: 45%;
    right: 10%;
}

.left {
    position: absolute;
    top: 45%;
    left: 10%;
}

.center {
    position: absolute;
    top: 30%;
    left: 30%;
}

.centerbottom {
    position: absolute;
    top: 50%;
    left: 10%;
}

.whole {
    position: absolute;
    left: 5%;
    top: 25%;
}

.topleft {
    left: 10%;
    top: 30%;
}

.photocontainer {
  background-color: white;
  border: 3px solid #FFE65E;
  width:20%;
  height:20%;
  font-weight:bold; 
    position: absolute;
}

.topright {
    right: 10%;
    top: 30%;
}

.bottomleft {
    left: 10%;
    bottom: 20%;
  }

.bottomright {
    right: 10%;
    bottom: 20%;
}

.taskRows {
    position: absolute;
    left: 10%;
    top: 30%;
    width:80%;
    border-collapse: separate;
    border-spacing: 10px 10px;
}

.underline {
    border-bottom: 2px solid black;
    width:95%;
}

.chkcontainer {
  background-color: white;
  border: 3px solid #FFE65E;
  width:8%;
  height:16%;
  font-weight:bold; 
    position: absolute;
}

.mainpagecontainer {
    border-collapse: separate;
    border-spacing: 40px 40px;
}